doctype html
html(lang="en")
  head

    // metadata
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= title

    // jquery
    script(src='/javascripts/jquery/jquery-3.1.1.min.js')

    // bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    // bootstrap switch
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-switch.min.css')
    script(src='/javascripts/bootstrap/bootstrap-switch.min.js')

    // Font awesome
    link(rel='stylesheet', href='/stylesheets/font-awesome/4.6.3/css/font-awesome.min.css')

    // jsTree
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js')

    // jsTree bootstrap theme
    link(rel="stylesheet", href='/stylesheets/jstree/dist/themes/proton/style.min.css')

    // jquery DataTable
    link(rel='stylesheet', href='http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css')
    script(src='http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js')
    script(src='/javascripts/jqueryDataTable/ellipsis.js')
    script(src='/javascripts/jqueryDataTable/percentageBars.js')

    // js cookie
    script(src='/javascripts/js.cookie.js')

    // application specific
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/utility.js')
    script(src='/javascripts/stager-ui.js')
    script.
      $( function() {

             // variables for running stager ui
             var params = {};
             params.l_fs_path_getdir = "#{fs_path_getdir_local}";
             params.l_fs_path_login = "#{fs_path_login_local}";
             params.l_fs_path_logout = "#{fs_path_logout_local}";
             params.l_fs_root = "#{fs_root_local}";
             params.l_fs_server = "#{fs_server_local}";
             params.l_fs_view = "#{fs_view_local}";

             params.r_fs_path_getdir = "#{fs_path_getdir_remote}";
             params.r_fs_path_login = "#{fs_path_login_remote}";
             params.r_fs_path_logout = "#{fs_path_logout_remote}";
             params.r_fs_root = "#{fs_root_remote}";
             params.r_fs_server = "#{fs_server_remote}";
             params.r_fs_view = "#{fs_view_remote}";

             // start the stager ui
             run_stager_ui(params);
       });
  <!-- HTML body -->
  body
    <!-- modal panel for application message -->
    include app_dialog.jade
    <!-- TODO: improve the system error panel -->
    block error
    <!-- navigation bar -->
    nav.navbar.navbar-inverse
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#') File Stager
        ul.nav.navbar-nav
          li.active: a(data-toggle="tab", href="#panel_intro"): i.fa.fa-home
          li: a(data-toggle="tab", href="#panel_transfer_request") Request
          li: a(data-toggle="tab", href="#panel_transfer_history") History
        ui.nav.navbar-nav.navbar-right
          li: a(href="#{website}", target="_blank"): i.fa.fa-globe &nbsp;RDM
          li: a(href="mailto:#{helpdesk}"): i.fa.fa-envelope &nbsp;Help
    <!-- tabs -->
    div.tab-content
      div.tab-pane.fade.in.active#panel_intro
        include panel_intro.jade
      div.tab-pane.fade#panel_transfer_request
        include panel_transfer_request.jade
      div.tab-pane.fade#panel_transfer_history
        include panel_transfer_history.jade
