div.page-header
  h1= title_request

div.modal.fade#job_confirmation(role='dialog')
  div.modal-dialog
    div.modal-content
      div.modal-head
          h4.modal-body Transfer requests to be submitted
      div.modal-body.scroll-able
        p: span#job_preview
      div.modal-footer
        button.btn.btn-default#job_submit(data-dismiss="modal",type="button") Submit
        button.btn.btn-danger#job_cancel(data-dismiss="modal",type="button") Cancel

div.container-fluid
    div.row#filetrees
        div.col-md-5
            div.panel.panel-default
                div.panel-heading
                    span: strong #{fs_server_local}
                div.panel-body#local_login_form
                    form.form-horizontal#login_form_local(method="post",action="#")
                        div.form-group
                            label.control-label.col-sm-4(for="username") Username:
                            div.col-sm-8
                                input.form-control#username(type="text",name="username",placeholder="#{fs_example_login_local}")
                        div.form-group
                            label.control-label.col-sm-4(for="password") Password:
                            div.col-sm-8
                                input.form-control#password(type="password",name="password")
                        div.form-group
                            div.col-sm-offset-4.col-sm-8
                                button.btn.btn-default#login_local(type="submit",name="login")
                                    i.fa.fa-sign-in &nbsp;Login
                div.panel.panel-body.filetree-panel#filetree_local
            div.btn-group#action_local
                button.btn.btn-default#button_refresh_local
                    i.fa.fa-refresh
                button.btn.btn-default#button_logout_local
                    i.fa.fa-sign-out

        div.col-md-2
            div.list-group
                a.list-group-item.list-group-item-action#button_upload(href='#')
                    i.fa.fa-arrow-right &nbsp;Upload
                a.list-group-item.list-group-item-action#button_download(href='#')
                    i.fa.fa-arrow-left &nbsp;Download

        div.col-md-5
            div.panel.panel-default
                div.panel-heading
                  span: strong #{fs_server_remote}
                div.panel-body#remote_login_form
                    form.form-horizontal#login_form_remote(method="post",action="#")
                        div.form-group
                            label.control-label.col-sm-4(for="username") Username:
                            div.col-sm-8
                                input.form-control#username(type="text",name="username",placeholder="#{fs_example_login_remote}")
                        div.form-group
                            label.control-label.col-sm-4(for="password") Password:
                            div.col-sm-8
                                input.form-control#password(type="password",name="password")
                        div.form-group
                            div.col-sm-offset-4.col-sm-8
                                button.btn.btn-default#login_remote(type="submit",name="login")
                                    i.fa.fa-sign-in &nbsp;Login
                div.panel.panel-body.filetree-panel#filetree_remote
            div.btn-group#action_remote
                button.btn.btn-default#button_refresh_remote
                    i.fa.fa-refresh
                button.btn.btn-default#button_logout_remote
                    i.fa.fa-sign-out
